// Basic colors on the site
$grey: #747475;
$light-grey: #acacac;
$dark-grey: #6c6b6c;
$greyish-white: #ebebeb;
$sky-blue: #8181fc;
$red: #f3836b;
$dark-red: #f04936;
$dark-blue: #28289d;
$green: #79c12e;
$dark-green: #3e6a10;
$light-orange: #e7941e;
$orange: #ff6425;
$yellow: #e7941e;
$light-yellow: #feeb75;
$purple: #dcdbeb;
$dark-purple: #bdbddf;
$light-white: #fffdfe;


// We use these as default colors throughout
$primary-bg: #f2f2f2;
$secondary-color: #2f2f2f;
$alert-color: #f04124;
$success-color: #43ac6a;
$warning-color: #f08a24;
$info-color: #a0d3e8;
$light-orange: #ffa323;
$white: #fff;
$black: #000;
$text-grey: #acacac;

//color for error messages
$messages_error_text: $dark-red;
$messages_error_bg: $alert-color;
$messages_warning_text: $red;
$messages_warning_bg: $orange;
$messages_status_text: $dark-grey;
$messages_status_bg: $greyish-white;


//Colors of the site
$nav-back: #edeef3;
$nav-text: #848486;
$nav-active: #7480e4;
$nav-border-right: #e2e3e8;
$mission-text: #858383;
$mission-para: #696767;
$student-div: #fbd564;
$faculty-div: #7bc145;
$mentor-div: #527ca6;
$faculty-text: #3e6a11;
$mentor-text: #29299d;
$input-border: #7d7d7d;
$footer-color: #2b2c2d;
$footer-ul-color: #383a3b;
$masonary-block1: #f19581;
$masonary-block2: $dark-purple;
$masonary-block3: $student-div;
$masonary-heading: #fcfcfc;
$location-text: #585757;
$blog-border: #e9e9e9;
$list-back: $greyish-white;
$list-active: $red;
$list-text: #bababa;
$tags-back: #f8f9fb;
$share-border: #ececec;
$logo-border: #ccc;
$submit-button: #ef6446;

//One Page Site Color
$one-nav-text: #0878be;
$one-banner-back: $one-nav-text;
$one-heading: #0d5a90;
$one-center-text: #3e3e3e;
$one-footer-heading: #1f1f1f;
$one-footer-text: #c0bebe;
$one-footer-anchor: #0878be;
$one-center-block1: #2d2d2d;
$one-flex-img-border: #545455;
$one-flex-anchor: #166094;
$one-flex-see: #848484;
$one-touch-anchor: #166094;
$one-touch-text: #303030;
$one-event-border1: #67d681;
$one-event-border2: #f08cda;
$one-event-heading: #156094;
$one-event-text: #a3a3a3;
