/* Makes border-box properties */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
@media only screen{}
@media only screen and (min-width:768px){}
@media only screen and (min-width:1025px){}
@media only screen{}
@media only screen and (max-width: 568px){}
@media only screen and (min-width:569px){}
@media only screen and (min-width:569px) and (max-width:767px){}
@media only screen and (min-width:768px){}
@media only screen and (min-width:768px) and (max-width:1024px){}
@media only screen and (min-width:1025px){}
@media only screen and (min-width:1025px) and (max-width:1180px){}
@media only screen and (min-width:1181px){}
@media only screen and (min-width:1181px) and (max-width:999999999999){}
*/
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proximanova/proximanova-regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/proximanova/proximanova-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-regular.woff") format("woff"), url("../fonts/proximanova/proximanova-regular.ttf") format("truetype"), url("../fonts/proximanova/proximanova-regular.otf") format("opentype");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximanova-bold';
  src: url("../fonts/proximanova/proximanova-bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/proximanova/proximanova-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-bold.woff") format("woff"), url("../fonts/proximanova/proximanova-bold.ttf") format("truetype"), url("../fonts/proximanova/proximanova-bold.otf") format("opentype");
  /* Legacy iOS */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'proximanova-bolditalic';
  src: url("../fonts/proximanova/proximanova-boldit.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/proximanova/proximanova-boldit.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-boldit.woff") format("woff"), url("../fonts/proximanova/proximanova-boldit.ttf") format("truetype"), url("../fonts/proximanova/proximanova-boldit.otf") format("opentype");
  /* Legacy iOS */
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'proximanova-italic';
  src: url("../fonts/proximanova/proximanova-regitalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/proximanova/proximanova-regitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-regitalic.woff") format("woff"), url("../fonts/proximanova/proximanova-regitalic.ttf") format("truetype"), url("../fonts/proximanova/proximanova-regitalic.otf") format("opentype");
  /* Legacy iOS */
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'proximanova-light';
  src: url("../fonts/proximanova/proximanova-light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/proximanova/proximanova-light.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-light.woff") format("woff"), url("../fonts/proximanova/proximanova-light.ttf") format("truetype"), url("../fonts/proximanova/proximanova-light.otf") format("opentype");
  /* Legacy iOS */
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/opensans/OpenSansRegular.eot");
  src: url("../fonts/opensans/OpenSansRegular.eot") format("embedded-opentype"), url("../fonts/opensans/OpenSansRegular.woff2") format("woff2"), url("../fonts/opensans/OpenSansRegular.woff") format("woff"), url("../fonts/opensans/OpenSansRegular.ttf") format("truetype"), url("../fonts/opensans/OpenSansRegular.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
  color: #6c6b6c;
}

a.active,
a, a:visited {
  color: #6c6b6c;
}

li a.active {
  color: #6c6b6c;
}

::-webkit-input-placeholder {
  color: #acacac;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #acacac;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #acacac;
}

:-ms-input-placeholder {
  color: #acacac;
}

/* -------------- System Messages ----------- */
div.messages {
  margin: 0;
}
div.messages.error {
  color: #fff;
  background-color: #f04124;
}
div.messages.error li {
  color: #fff;
}
div.messages ul {
  padding: 0;
}
div.messages ul li {
  margin: 0;
}
div.messages.warning {
  color: #f3836b;
  background-color: #ff6425;
}
div.messages.warning li {
  color: #f3836b;
}
div.messages.status {
  color: #6c6b6c;
  background-color: #ebebeb;
}
div.messages.status li {
  color: #6c6b6c;
}

.messages {
  margin: 0;
}

/* --- twitter + fb block --- */
/* -------------- list -------------- */
ul.menu {
  padding: 0;
}
ul.menu li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-list ul {
  margin: 0;
}
.item-list ul li {
  margin: 0;
}

/* -------------- buttons -------------- */
.stButton .stFb,
.stButton .stTwbutton,
.stButton .stMainServices,
.stButton .stButton_gradient {
  height: 22px !important;
}

.st_twitter_hcount,
.st_plusone_hcount,
.st_fblike_hcount {
  display: inline-block;
  margin: 0 12px 0 0;
  vertical-align: top;
}

.st_plusone_hcount > div {
  width: 60px !important;
}

.st_fblike_hcount {
  margin: 0;
}
.st_fblike_hcount > span {
  margin: 0 3px !important;
}

/* -------------- links -------------- */
/* -------------- images -------------- */
/* -------------- paragraphs -------------- */
/* -------------- tabs -------------- */
/* -------------- pager -------------- */
body {
  font-family: 'ProximaNova';
  font-size: 16px;
}

.page-wrapper {
  overflow: hidden;
  width: 100%;
}

.region-header,
.maincontent-wrapper,
.region-footer {
  width: 100%;
}

.panel-2col-stacked .preface-wrapper .panel-col-first {
  background: #dcdbeb;
  float: left;
  width: 62%;
}
.panel-2col-stacked .preface-wrapper .panel-col-last {
  background: #fffdfe;
  float: right;
  width: 38%;
}
.panel-2col-stacked .content-mid-wrapper {
  overflow: hidden;
}

.preface-wrapper,
.content-wrapper,
.center-wrapper {
  width: 100%;
  overflow: hidden;
}
.preface-wrapper .panel-panel,
.content-wrapper .panel-panel,
.center-wrapper .panel-panel {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.panel-2col-stacked .panel-col-top .inside,
.panel-2col-stacked .panel-col-first .inside,
.panel-2col-stacked .panel-col-last .inside,
.panel-2col-bricks .panel-col-top .inside,
.panel-2col-bricks .panel-col-middle .inside {
  margin: 0;
}

.panel-separator {
  display: none;
}

.page {
  color: #848486;
}

.pane-title {
  font-size: 24px;
  line-height: 35px;
  padding: 0 0 12px;
}

/****** Blog Listing Page Style Starts ******/
.pane-1 {
  overflow: hidden;
  width: 100%;
}
.pane-1 img {
  float: left;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .pane-1 img {
    height: 200px;
  }
}
@media only screen and (min-width: 1181px) {
  .pane-1 img {
    height: auto;
  }
}

.page-blog .center-wrapper,
.node-type-article .center-wrapper {
  padding: 5% 4.5%;
}
.page-blog .center-wrapper .panel-col-first,
.node-type-article .center-wrapper .panel-col-first {
  width: 69.1%;
}
.page-blog .center-wrapper .panel-col-first .inside,
.node-type-article .center-wrapper .panel-col-first .inside {
  margin: 0;
  padding: 0 30px;
}
.page-blog .center-wrapper .panel-col-last,
.node-type-article .center-wrapper .panel-col-last {
  width: 27.9%;
  margin-left: 3%;
}
.page-blog .center-wrapper .panel-col-last .inside,
.node-type-article .center-wrapper .panel-col-last .inside {
  margin: 0;
}

.pane-blogs .view-blogs .views-row {
  margin: 7% 0;
}
.pane-blogs .view-blogs .views-row.views-row-first {
  margin-top: 0;
}
.pane-blogs .view-blogs .item-list {
  padding: 0 0 0 80px;
}
.pane-blogs .view-blogs .item-list ul {
  font-family: 'OpenSansRegular';
  position: relative;
}
.pane-blogs .view-blogs .item-list ul li {
  background: #ebebeb;
  border-radius: 50%;
  color: #bababa;
  margin: 0 10px 0 0;
  padding: 9px 16px;
}
.pane-blogs .view-blogs .item-list ul li a {
  color: #bababa;
}
.pane-blogs .view-blogs .item-list ul .pager-current {
  background: #f3836b;
  color: #fff;
}
.pane-blogs .view-blogs .item-list ul .pager-first,
.pane-blogs .view-blogs .item-list ul .pager-last {
  display: none;
}
.pane-blogs .view-blogs .item-list ul .pager-previous {
  background: url("../images/blog-prev.png") center no-repeat #ebebeb;
  background-size: 10px;
  left: 0;
  position: absolute;
  text-indent: -99999px;
  top: -14px;
}
.pane-blogs .view-blogs .item-list ul .pager-previous a {
  display: block;
  height: 22px;
  width: 8px;
}
.pane-blogs .view-blogs .item-list ul .pager-next {
  background: url("../images/blog-next.png") center no-repeat #ebebeb;
  background-size: 10px;
  right: 0;
  position: absolute;
  text-indent: -99999px;
  top: -14px;
}
.pane-blogs .view-blogs .item-list ul .pager-next a {
  display: block;
  height: 22px;
  width: 8px;
}

.blog-listng-markup {
  overflow: hidden;
}
.blog-listng-markup .posted-date {
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #bdbddf;
  color: #fff;
  float: left;
  margin: 0 20px 0 0;
  padding: 12px;
  text-align: center;
  width: 63px;
}
.blog-listng-markup .posted-date .posted-day {
  font-size: 26px;
}
.blog-listng-markup .posted-date .posted-month {
  font-size: 16px;
  line-height: 25px;
}
.blog-listng-markup .posted-date .posted-year {
  font-size: 12px;
}
.blog-listng-markup .blog-wrapper {
  float: right;
  width: 90%;
}
.blog-listng-markup .blog-wrapper .blog-title {
  font-size: 24px;
  line-height: 35px;
}
.blog-listng-markup .blog-wrapper .blog-title a {
  color: #848486;
  display: inline-block;
  padding: 0 0 12px;
}
.blog-listng-markup .blog-wrapper .blog-content {
  overflow: hidden;
}
.blog-listng-markup .blog-wrapper .blog-content span {
  display: block;
  float: left;
}
.blog-listng-markup .blog-wrapper .blog-content .blog-image {
  width: 35%;
}
.blog-listng-markup .blog-wrapper .blog-content .blog-image a {
  display: block;
}
.blog-listng-markup .blog-wrapper .blog-content .blog-image img {
  float: left;
  width: 100%;
}
.blog-listng-markup .blog-wrapper .blog-content .blog-synopsis {
  clear: right;
  margin: 0 0 0 25px;
  width: 61%;
}
.blog-listng-markup .blog-wrapper .blog-content .blog-synopsis p {
  font-size: 14px;
}
.blog-listng-markup .blog-wrapper .blog-content .read-more {
  font-size: 15px;
  margin: 5px 0;
}
.blog-listng-markup .blog-wrapper .blog-content .read-more a {
  color: #f3836b;
}
.blog-listng-markup .blog-wrapper .about-blog {
  border-top: 2px solid #e9e9e9;
  border-bottom: 2px solid #e9e9e9;
  font-size: 15px;
  margin: 15px 0;
  overflow: hidden;
  padding: 12px 0;
}
.blog-listng-markup .blog-wrapper .about-blog span {
  display: inline-block;
  margin: 0 12px 0 0;
  vertical-align: top;
}
.blog-listng-markup .blog-wrapper .about-blog .blog-author {
  width: 20%;
}
.blog-listng-markup .blog-wrapper .about-blog .blog-author a {
  color: #f3836b;
  display: inline-block;
  margin: 0 0 0 2px;
}
.blog-listng-markup .blog-wrapper .about-blog .blog-comment {
  color: #f3836b;
  width: 14%;
}
.blog-listng-markup .blog-wrapper .about-blog .blog-tags {
  width: 43%;
}
.blog-listng-markup .blog-wrapper .about-blog .blog-share {
  margin: 0;
  width: 16%;
}
.blog-listng-markup .blog-wrapper .about-blog .blog-share span {
  margin: 0;
  text-indent: -9999px;
}
.blog-listng-markup .blog-wrapper .about-blog .blog-share span a {
  display: block;
  height: 20px;
  width: 20px;
}
.blog-listng-markup .blog-wrapper .about-blog .blog-share span.blog-twitter {
  background: url("../images/blog-tw-icon.png") top left no-repeat;
  background-size: contain;
  margin: 0 10px;
}
.blog-listng-markup .blog-wrapper .about-blog .blog-share span.blog-facebook {
  background: url("../images/blog-fb-icon.png") top left no-repeat;
  background-size: contain;
}

.follow-us {
  overflow: hidden;
}
.follow-us span {
  display: inline-block;
}
.follow-us span.follow-fb {
  background: url("../images/follow-fb.png") top left no-repeat;
  background-size: contain;
}
.follow-us span.follow-twitter {
  background: url("../images/follow-tw.png") top left no-repeat;
  background-size: contain;
  margin: 0 10px;
}
.follow-us span.follow-googleplus {
  background: url("../images/follow-go.png") top left no-repeat;
  background-size: contain;
}
.follow-us span a {
  display: block;
  height: 36px;
  text-indent: -99999px;
  width: 36px;
}

.pane-category,
.pane-blogs-panel-pane-1,
.pane-blogs-panel-pane-2,
.pane-tags {
  margin: 25px 0;
}

.view-category {
  font-size: 14px;
}
.view-category ul {
  padding: 0 2px;
}
.view-category ul li {
  background: url("../images/category-list-arrow.png") center left no-repeat;
  background-size: 6px;
  padding: 8px 0 8px 18px;
}
.view-category ul li:hover {
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: url("../images/category-list-active.png") center left no-repeat #bdbddf;
  background-position: 12px;
  background-size: 6px;
  padding: 8px 0 8px 28px;
}
.view-category ul li:hover a {
  color: #fff;
}
.view-category ul li a {
  color: #848486;
}

.pane-blogs-panel-pane-1 .views-field-field-image {
  overflow: hidden;
}
.pane-blogs-panel-pane-1 .views-field-field-image img {
  float: left;
  width: 100%;
}
.pane-blogs-panel-pane-1 .views-field-title {
  display: none;
}
.pane-blogs-panel-pane-1 .views-field-field-synopsis {
  font-size: 14px;
  padding: 25px 0;
}
.pane-blogs-panel-pane-1 .popular-post-footer {
  font-size: 14px;
  overflow: hidden;
}
.pane-blogs-panel-pane-1 .popular-post-footer span {
  display: block;
}
.pane-blogs-panel-pane-1 .popular-post-footer span.posted-on {
  color: #f3836b;
  float: left;
}
.pane-blogs-panel-pane-1 .popular-post-footer span.read-more {
  background: url("../images/grey-right-supporting-arrow.png") center right no-repeat;
  background-size: 6px 8px;
  float: right;
  padding: 0 14px 0 0;
}
.pane-blogs-panel-pane-1 .popular-post-footer span.read-more a {
  color: #848486;
}

.pane-blogs-panel-pane-2 {
  font-size: 14px;
}
.pane-blogs-panel-pane-2 .views-row {
  background: url("../images/blog-post-list.png") center left no-repeat;
  background-size: 7px;
  padding: 8px 0 8px 18px;
}
.pane-blogs-panel-pane-2 .views-row a {
  color: #848486;
  display: block;
}

.pane-tags .view-tags .views-row {
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #f8f9fb;
  display: inline-block;
  padding: 8px;
  margin: 4px;
  vertical-align: top;
}

/****** Blog Listing Page Style Ends ******/
/****** Blog Detail Page Style Starts ******/
.node-type-article #page-title {
  display: none;
}
.node-type-article .pane-blogs-panel-pane-3 {
  overflow: hidden;
}
.node-type-article .pane-blogs-panel-pane-3 .blog-listing-markup {
  overflow: hidden;
}
.node-type-article .pane-blogs-panel-pane-3 .posted-date {
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #bdbddf;
  color: #fff;
  float: left;
  margin: 0 20px 0 0;
  padding: 12px;
  text-align: center;
  width: 63px;
}
.node-type-article .pane-blogs-panel-pane-3 .posted-date .posted-day {
  font-size: 26px;
}
.node-type-article .pane-blogs-panel-pane-3 .posted-date .posted-month {
  font-size: 16px;
  line-height: 25px;
}
.node-type-article .pane-blogs-panel-pane-3 .posted-date .posted-year {
  font-size: 12px;
}
.node-type-article .pane-blogs-panel-pane-3 .blog-wrapper {
  float: right;
  width: 90%;
}
.node-type-article .pane-blogs-panel-pane-3 .blog-wrapper .blog-title {
  font-size: 24px;
  line-height: 24px;
}
.node-type-article .pane-blogs-panel-pane-3 .blog-wrapper .blog-title a {
  color: #848486;
  display: inline-block;
  padding: 0;
}
.node-type-article .pane-blogs-panel-pane-3 .blog-wrapper .about-blog {
  border-top: 2px solid #e9e9e9;
  border-bottom: 2px solid #e9e9e9;
  font-size: 15px;
  margin: 15px 0;
  overflow: hidden;
  padding: 12px 0;
}
.node-type-article .pane-blogs-panel-pane-3 .blog-wrapper .about-blog span {
  display: inline-block;
  margin: 0 12px 0 0;
  vertical-align: top;
}
.node-type-article .pane-blogs-panel-pane-3 .blog-wrapper .about-blog .blog-author {
  width: 20%;
}
.node-type-article .pane-blogs-panel-pane-3 .blog-wrapper .about-blog .blog-author a {
  color: #f3836b;
  display: inline-block;
  margin: 0 0 0 2px;
}
.node-type-article .pane-blogs-panel-pane-3 .blog-wrapper .about-blog .blog-comment {
  color: #f3836b;
  width: 14%;
}
.node-type-article .pane-blogs-panel-pane-3 .blog-wrapper .about-blog .blog-tags {
  width: 43%;
}
.node-type-article .pane-blogs-panel-pane-3 .blog-wrapper .about-blog .blog-share {
  margin: 0;
  width: 16%;
}
.node-type-article .pane-blogs-panel-pane-3 .blog-wrapper .about-blog .blog-share span {
  margin: 0;
  text-indent: -9999px;
}
.node-type-article .pane-blogs-panel-pane-3 .blog-wrapper .about-blog .blog-share span a {
  display: block;
  height: 20px;
  width: 20px;
}
.node-type-article .pane-blogs-panel-pane-3 .blog-wrapper .about-blog .blog-share span.blog-twitter {
  background: url("../images/blog-tw-icon.png") top left no-repeat;
  background-size: contain;
  margin: 0 10px;
}
.node-type-article .pane-blogs-panel-pane-3 .blog-wrapper .about-blog .blog-share span.blog-facebook {
  background: url("../images/blog-fb-icon.png") top left no-repeat;
  background-size: contain;
}

.pane-node-field-image {
  float: left;
  margin: 18px 25px 4px 80px;
  overflow: hidden;
  width: 270px;
}
.pane-node-field-image img {
  max-height: 215px;
  width: 100%;
}

.pane-node-body {
  font-size: 14px;
  line-height: 20px;
  padding: 18px 0 18px 80px;
}

.pane-node-sharethis {
  padding: 25px 0 25px 80px;
  text-align: center;
}
.pane-node-sharethis .pane-title {
  background: #fff;
  display: inline-block;
  font-size: 22px;
  line-height: 32px;
  padding: 10px 30px;
}
.pane-node-sharethis .sharethis-buttons {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #ececec;
  padding: 50px;
  margin: -29px 0 0;
}

.region-content ul.flippy {
  padding: 0;
}
.region-content ul.flippy li {
  padding: 0;
}

.pane-flippy-flippy-pager-node-type-article {
  overflow: hidden;
  padding: 25px 0 25px 80px;
}
.pane-flippy-flippy-pager-node-type-article .flippy {
  overflow: hidden;
  font-size: 22px;
}
.pane-flippy-flippy-pager-node-type-article .flippy li a {
  color: #f3836b;
}
.pane-flippy-flippy-pager-node-type-article .prev {
  float: left;
}
.pane-flippy-flippy-pager-node-type-article .next {
  float: right;
}

/****** Blog Detail Page Style Ends ******/
.page-colleges,
.page-faqs {
  width: 100%;
}
.page-colleges .pane-college-page,
.page-colleges .pane-faqs,
.page-faqs .pane-college-page,
.page-faqs .pane-faqs {
  overflow: hidden;
}
.page-colleges .view-college-page,
.page-colleges .view-faqs,
.page-faqs .view-college-page,
.page-faqs .view-faqs {
  padding: 5% 4.5%;
}

.views-exposed-widgets {
  margin: 0;
}

.views-exposed-form .views-exposed-widget {
  float: none;
  padding: 0;
}
.views-exposed-form .views-exposed-widget .form-submit {
  background: url("../images/search.png") top left no-repeat;
  background-position: 5px 0;
  background-size: contain;
  border: none;
  display: inline-block;
  height: 30px;
  margin: 0;
  text-indent: -9999px;
  width: 35px;
}

.views-widget-filter-field_location_locality,
.views-widget-filter-tid {
  display: inline-block;
  width: 49%;
}
.views-widget-filter-field_location_locality label,
.views-widget-filter-tid label {
  color: #848486;
  font-family: 'proximanova-light';
  font-size: 48px;
  font-weight: normal;
  padding: 25px 0;
}
.views-widget-filter-field_location_locality label::first-letter,
.views-widget-filter-tid label::first-letter {
  font-family: 'ProximaNova';
  font-size: 64px;
  text-transform: uppercase;
}
.views-widget-filter-field_location_locality input,
.views-widget-filter-tid input {
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #7d7d7d;
  font-size: 16px;
  margin: 4% 0;
  padding: 8px;
  width: 100%;
}

.views-submit-button {
  display: inline-block;
  width: 50%;
}

.masonry-processed {
  overflow: hidden;
  margin: 25px 0;
  width: 100%;
}

.masonry-item {
  background: #f19581;
  color: #585757;
  margin: 0 30px 30px 0;
  width: 31%;
}
.masonry-item .views-field-field-image {
  overflow: hidden;
}
.masonry-item .views-field-field-image img {
  float: left;
  width: 100%;
}
.masonry-item:nth-of-type(2n-1) {
  background: #bdbddf;
}
.masonry-item:nth-of-type(3n-1) {
  background: #fbd564;
}
.masonry-item .views-field-title {
  font-family: 'proximanova-light';
  font-size: 24px;
  font-weight: normal;
  padding: 20px 18px;
  text-transform: capitalize;
}
.masonry-item .views-field-title::first-letter {
  font-family: 'ProximaNova';
  font-size: 32px;
  text-transform: uppercase;
}
.masonry-item .views-field-title a {
  color: #fcfcfc;
}
.masonry-item .college_location {
  padding: 3px 18px;
}
.masonry-item .college_location .address {
  background: url("../images/location.png") 3px 0 no-repeat;
  background-size: 12px;
  font-family: 'proximanova-bold';
  font-size: 14px;
  line-height: 24px;
  padding: 0 0 0 22px;
}
.masonry-item .faculty_ambassador {
  padding: 0 18px;
}
.masonry-item .faculty_ambassador .field-content {
  background: url("../images/faculty-icon.png") 0 3px no-repeat;
  background-size: 15px;
  font-family: 'proximanova-bold';
  font-size: 14px;
  line-height: 24px;
  padding: 0 0 0 22px;
}
.masonry-item .faculty_ambassador .field-content a {
  color: #585757;
  display: block;
  padding: 3px 0;
}
.masonry-item .student_ambassador {
  padding: 0 18px;
}
.masonry-item .student_ambassador .field-content {
  background: url("../images/student-icon.png") 0 4px no-repeat;
  background-size: 17px;
  font-family: 'proximanova-bold';
  font-size: 14px;
  line-height: 24px;
  padding: 0 0 0 22px;
}
.masonry-item .student_ambassador .field-content a {
  color: #585757;
  display: block;
  padding: 3px 0;
}
.masonry-item .views-field-body {
  font-size: 14px;
  padding: 5px 18px 18px;
}
.masonry-item.views-row-first {
  background: #f19581;
}

.pane-faqs .view-content .views-row {
  background: #ebebeb;
  margin: 30px 0;
  padding: 20px;
}
.pane-faqs .view-content .views-field-title {
  padding: 0 4px;
  font-size: 20px;
}
.pane-faqs .view-content .views-field-title a {
  color: #6c6b6c;
  display: inline-block;
}
.pane-faqs .view-content .views-field-title a.active {
  color: #f04936;
}
.pane-faqs .view-content .views-field-body {
  font-size: 18px;
  padding: 30px 0 0;
}
.pane-faqs .view-content .views-field-body p {
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  color: #6c6b6c;
  line-height: 28px;
  padding: 25px;
}

/* ----------Footer--------- */
.region-footer {
  background: #2b2c2d;
  overflow: hidden;
}
.region-footer .menu {
  width: auto;
  margin: 20px 20px 20px 50px;
}
.region-footer .menu li {
  border-right: 1px solid #383a3b;
  display: inline-block;
  padding: 10px;
  vertical-align: top;
}
.region-footer .menu li a {
  cursor: pointer;
  display: block;
  height: 23px;
  text-indent: -9999px;
  width: 23px;
}
.region-footer .menu li a:hover {
  color: #7480e4;
}
.region-footer .menu li.fb-icon a {
  background: url("../images/grey-fb-icon.png") top left no-repeat;
}
.region-footer .menu li.twitter-icon a {
  background: url("../images/grey-tw-icon.png") top left no-repeat;
  width: 27px;
}
.region-footer .menu li.instagram-icon a {
  background: url("../images/grey-inst-icon.png") top left no-repeat;
}
.region-footer .menu li.gplus-icon a {
  background: url("../images/grey-g-plus-icon.png") top left no-repeat;
  width: 26px;
}

.guides-block {
  overflow: hidden;
  width: 100%;
}
.guides-block div {
  float: left;
  font-family: 'proximanova-light';
  position: relative;
  width: 33.33%;
}
.guides-block div a {
  display: block;
  height: 275px;
  overflow: hidden;
}
.guides-block div a img {
  float: left;
  width: 100%;
}
.guides-block div span {
  bottom: 0;
  display: block;
  font-size: 34px;
  left: 0;
  padding: 15px 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

#student a {
  border: 18px solid #fbd564;
  border-bottom: none;
}
#student span {
  background: url("../images/yellow-back.png") top left repeat-x;
  color: #ffa323;
}

#faculties a {
  border: 18px solid #7bc145;
  border-bottom: none;
}
#faculties span {
  background: url("../images/green-back.png") top left repeat-x;
  color: #3e6a11;
}

#mentors a {
  border: 18px solid #527ca6;
  border-bottom: none;
}
#mentors span {
  background: url("../images/blue-back.png") top left repeat-x;
  color: #29299d;
}

.join-the-revolution {
  color: #747475;
  font-family: 'proximanova-light';
  padding: 25px 0;
  text-align: center;
}
.join-the-revolution h2 {
  font-size: 48px;
  font-weight: normal;
  padding: 25px;
}
.join-the-revolution h2::first-letter {
  font-family: 'ProximaNova';
  font-size: 64px;
  text-transform: uppercase;
}
.join-the-revolution span {
  display: block;
  font-size: 28px;
  margin: 15px 0;
}
.join-the-revolution span.resolution-second {
  display: inline;
  margin: 0 0 0 20px;
}
.join-the-revolution img {
  width: 20%;
}

.webform-client-form-131 {
  color: #747475;
  font-family: 'proximanova-light';
  overflow: hidden;
  padding: 15% 6% 0;
}
.webform-client-form-131 .form-item {
  margin: 20px 0;
}
.webform-client-form-131 .form-item label,
.webform-client-form-131 .form-item input {
  display: inline-block;
  vertical-align: top;
}
.webform-client-form-131 .form-item label {
  font-size: 28px;
  padding: 8px;
  width: 135px;
}
.webform-client-form-131 .form-item label .form-required {
  display: none;
}
.webform-client-form-131 .form-item input {
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #7d7d7d;
  font-size: 20px;
  padding: 8px;
  width: 60%;
}
.webform-client-form-131 .form-actions {
  margin: 55px 0 0;
  text-align: center;
}
.webform-client-form-131 .form-actions input {
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  background: #79c12e;
  border: none;
  color: #fff;
  font-family: 'proximanova-light';
  font-size: 24px;
  padding: 12px 46px;
}

.homepage-map {
  overflow: hidden;
  width: 100%;
}
.homepage-map img {
  float: left;
  width: 100%;
}

.content-mid-wrapper .pane-supporting-organization {
  background: #f04936;
  padding: 20px;
  width: 100%;
}
.content-mid-wrapper .pane-supporting-organization .pane-title {
  color: #fff;
  font-family: 'proximanova-light';
  font-size: 44px;
  font-weight: normal;
  padding: 25px;
  text-transform: capitalize;
}
.content-mid-wrapper .pane-supporting-organization .pane-title::first-letter {
  font-family: 'ProximaNova';
  font-size: 60px;
  text-transform: uppercase;
}
.content-mid-wrapper .view-supporting-organization .jcarousel-skin-default .jcarousel-container-horizontal {
  height: auto;
  margin: 0 auto;
  padding: 50px 40px 20px;
  width: 90%;
}
.content-mid-wrapper .view-supporting-organization .jcarousel-skin-default .jcarousel-clip-horizontal {
  margin: 0 auto;
  width: 90%;
}
.content-mid-wrapper .view-supporting-organization .jcarousel-skin-default .jcarousel-item-horizontal {
  margin: 0 20px;
}
.content-mid-wrapper .view-supporting-organization .jcarousel-skin-default .jcarousel-item-horizontal:first-of-type {
  margin: 0;
}
.content-mid-wrapper .view-supporting-organization .jcarousel-skin-default .jcarousel-item {
  background: none;
  border: none;
  height: 230px;
  width: 230px;
  text-align: center;
}
.content-mid-wrapper .view-supporting-organization .jcarousel-skin-default .jcarousel-prev-horizontal {
  top: 95px;
  left: 0;
}
.content-mid-wrapper .view-supporting-organization .jcarousel-skin-default .jcarousel-next-horizontal {
  top: 95px;
  right: 0;
}
.content-mid-wrapper .view-supporting-organization .jcarousel-skin-default .jcarousel-prev {
  background: url("../images/left-supporting-arrow.png") center left no-repeat;
}
.content-mid-wrapper .view-supporting-organization .jcarousel-skin-default .jcarousel-next {
  background: url("../images/right-supporting-arrow.png") center right no-repeat;
}
.content-mid-wrapper .view-supporting-organization .supporting-organisation {
  padding: 60px 0 0;
  text-align: center;
}
.content-mid-wrapper .view-supporting-organization .supporting-organisation a {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.content-mid-wrapper .view-supporting-organization .supporting-organisation a img {
  max-width: 100%;
}

.content-wrapper .pane-supporting-organization {
  overflow: hidden;
  padding: 20px;
  width: 100%;
}
.content-wrapper .pane-supporting-organization .pane-title {
  color: #747475;
  font-family: 'proximanova-light';
  font-size: 44px;
  font-weight: normal;
  padding: 25px;
  text-transform: capitalize;
}
.content-wrapper .pane-supporting-organization .pane-title::first-letter {
  font-family: 'ProximaNova';
  font-size: 60px;
  text-transform: uppercase;
}
.content-wrapper .pane-supporting-organization .view-supporting-organization .jcarousel-skin-default .jcarousel-container-horizontal {
  height: auto;
  margin: 0 auto;
  padding: 50px 40px 20px;
  width: 90%;
}
.content-wrapper .pane-supporting-organization .view-supporting-organization .jcarousel-skin-default .jcarousel-clip-horizontal {
  width: 100%;
}
.content-wrapper .pane-supporting-organization .view-supporting-organization .jcarousel-skin-default .jcarousel-item-horizontal {
  margin: 0 20px;
}
.content-wrapper .pane-supporting-organization .view-supporting-organization .jcarousel-skin-default .jcarousel-item-horizontal:first-of-type {
  margin: 0;
}
.content-wrapper .pane-supporting-organization .view-supporting-organization .jcarousel-skin-default .jcarousel-item {
  background: none;
  border: none;
  height: 230px;
  width: 230px;
  text-align: center;
}
.content-wrapper .pane-supporting-organization .view-supporting-organization .jcarousel-skin-default .jcarousel-prev-horizontal {
  top: 95px;
  left: 0;
}
.content-wrapper .pane-supporting-organization .view-supporting-organization .jcarousel-skin-default .jcarousel-next-horizontal {
  top: 95px;
  right: 0;
}
.content-wrapper .pane-supporting-organization .view-supporting-organization .jcarousel-skin-default .jcarousel-prev {
  background: url("../images/grey-left-supporting-arrow.png") center left no-repeat;
}
.content-wrapper .pane-supporting-organization .view-supporting-organization .jcarousel-skin-default .jcarousel-next {
  background: url("../images/grey-right-supporting-arrow.png") center right no-repeat;
}
.content-wrapper .pane-supporting-organization .view-supporting-organization .supporting-institutions {
  padding: 60px 0 0;
  text-align: center;
}
.content-wrapper .pane-supporting-organization .view-supporting-organization .supporting-institutions a {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.content-wrapper .pane-supporting-organization .view-supporting-organization .supporting-institutions a img {
  max-width: 100%;
}
.content-wrapper .pane-block-7 {
  background: #bdbddf;
  padding: 45px 45px 0;
}
.content-wrapper .pane-block-7 .wish-to-be-one {
  border: 5px solid #fff;
  overflow: hidden;
}
.content-wrapper .pane-block-7 .wish-to-be-one h2 {
  color: #fff;
  font-family: 'proximanova-light';
  font-size: 48px;
  margin: 40px 35px;
  text-align: center;
}
.content-wrapper .pane-block-7 .wish-to-be-one img {
  float: left;
  width: 62%;
}

.supporting-sponsors {
  background: #bdbddf;
  overflow: hidden;
  padding: 20px;
  width: 100%;
}
.supporting-sponsors h2 {
  color: #747475;
  font-family: 'proximanova-light';
  font-size: 44px;
  font-weight: normal;
  padding: 25px;
  text-transform: capitalize;
}
.supporting-sponsors h2::first-letter {
  font-family: 'ProximaNova';
  font-size: 60px;
  text-transform: uppercase;
}
.supporting-sponsors .view-supporting-organization .jcarousel-skin-default .jcarousel-container-horizontal {
  height: auto;
  margin: 0 auto;
  padding: 50px 40px 20px;
  width: 90%;
}
.supporting-sponsors .view-supporting-organization .jcarousel-skin-default .jcarousel-clip-horizontal {
  margin: 0 auto;
  width: 90%;
}
.supporting-sponsors .view-supporting-organization .jcarousel-skin-default .jcarousel-item-horizontal {
  margin: 0 20px;
}
.supporting-sponsors .view-supporting-organization .jcarousel-skin-default .jcarousel-item-horizontal:first-of-type {
  margin: 0;
}
.supporting-sponsors .view-supporting-organization .jcarousel-skin-default .jcarousel-item {
  background: none;
  border: none;
  height: 230px;
  width: 230px;
  text-align: center;
}
.supporting-sponsors .view-supporting-organization .jcarousel-skin-default .jcarousel-prev-horizontal {
  top: 95px;
  left: 0;
}
.supporting-sponsors .view-supporting-organization .jcarousel-skin-default .jcarousel-next-horizontal {
  top: 95px;
  right: 0;
}
.supporting-sponsors .view-supporting-organization .jcarousel-skin-default .jcarousel-prev {
  background: url("../images/grey-left-supporting-arrow.png") center left no-repeat;
}
.supporting-sponsors .view-supporting-organization .jcarousel-skin-default .jcarousel-next {
  background: url("../images/grey-right-supporting-arrow.png") center right no-repeat;
}
.supporting-sponsors .view-supporting-organization .sponors {
  padding: 60px 0 0;
  text-align: center;
}
.supporting-sponsors .view-supporting-organization .sponors a {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.supporting-sponsors .view-supporting-organization .sponors a img {
  max-width: 100%;
}

/* ----------Header--------- */
.region-header {
  background: #edeef3;
  overflow: hidden;
}
.region-header .block-menu {
  width: 78%;
  float: left;
  clear: left;
}
.region-header .block-menu ul.menu {
  padding: 0 30px;
  width: auto;
}
.region-header .block-menu ul.menu li {
  display: inline-block;
  vertical-align: top;
}
.region-header .block-menu ul.menu li a {
  color: #848486;
  display: block;
  padding: 14px 30px;
}
.region-header .block-menu ul.menu li a.active {
  background: url("../images/nav-active.png") center bottom no-repeat;
  background-size: 42px;
  color: #7480e4;
  text-transform: uppercase;
}
.region-header .block-menu ul.menu li a:hover {
  color: #7480e4;
}
.region-header .block-block {
  float: left;
}
.region-header .homebanner {
  width: 100%;
}
.region-header .homebanner img {
  float: left;
  height: auto;
  width: 100%;
}
.region-header .what-is-dcap {
  background: #f3836b;
  color: #fff;
  overflow: hidden;
}
.region-header .what-is-dcap .what-is-dcap-left {
  float: left;
  position: relative;
  text-align: center;
  width: 55%;
}
.region-header .what-is-dcap .what-is-dcap-left img {
  margin: 10% auto;
  width: 64%;
}
.region-header .what-is-dcap .what-is-dcap-left h2 {
  font-family: 'proximanova-light';
  font-size: 44px;
  font-weight: normal;
  position: absolute;
  margin: -190px 0 0;
  right: 140px;
}
.region-header .what-is-dcap .what-is-dcap-left h2::first-letter {
  font-family: 'ProximaNova';
  font-size: 60px;
  text-transform: uppercase;
}
.region-header .what-is-dcap .what-is-dcap-right {
  background: url("../images/red-arrow.png") center left no-repeat #f04936;
  background-size: 50px;
  float: right;
  width: 45%;
}
.region-header .what-is-dcap .what-is-dcap-right p {
  padding: 12% 15%;
}
.region-header .our-mission {
  background: #dcdbeb;
  color: #fff;
  overflow: hidden;
}
.region-header .our-mission .our-mission-left {
  background: url("../images/blue-arrow.png") center right no-repeat #bdbddf;
  background-size: 50px;
  float: left;
  width: 45%;
}
.region-header .our-mission .our-mission-left p {
  color: #696767;
  padding: 12% 15%;
}
.region-header .our-mission .our-mission-right {
  float: right;
  position: relative;
  text-align: center;
  width: 55%;
}
.region-header .our-mission .our-mission-right img {
  margin: 8% 0 0 240px;
  width: 35%;
}
.region-header .our-mission .our-mission-right h2 {
  bottom: 0;
  color: #858383;
  font-family: 'proximanova-light';
  font-size: 44px;
  font-weight: normal;
  position: absolute;
  margin: 0 0 0 200px;
}
.region-header .our-mission .our-mission-right h2::first-letter {
  font-family: 'ProximaNova';
  font-size: 60px;
  text-transform: uppercase;
}

#block-block-3 {
  clear: right;
  float: right;
  padding: 0 50px 0 0;
}
#block-block-3 ul.menu {
  width: auto;
}
#block-block-3 ul.menu li {
  border-right: 1px solid #e2e3e8;
  display: inline-block;
  padding: 10px;
  vertical-align: top;
}
#block-block-3 ul.menu li a {
  cursor: pointer;
  display: block;
  height: 23px;
  text-indent: -9999px;
  width: 23px;
}
#block-block-3 ul.menu li a:hover {
  color: #7480e4;
}
#block-block-3 ul.menu li.login {
  line-height: 24px;
}
#block-block-3 ul.menu li.login a {
  text-indent: 1px;
  width: auto;
}
#block-block-3 ul.menu li.fb-icon a {
  background: url("../images/fb-icon.png") top left no-repeat;
}
#block-block-3 ul.menu li.twitter-icon a {
  background: url("../images/tw-icon.png") top left no-repeat;
  width: 27px;
}
#block-block-3 ul.menu li.instagram-icon a {
  background: url("../images/inst-icon.png") top left no-repeat;
}
#block-block-3 ul.menu li.gplus-icon a {
  background: url("../images/g-plus-icon.png") top left no-repeat;
  width: 26px;
}
