.pane-college-page,
.pane-faqs {
  overflow: hidden;
  width: 100%;
}

.view-college-page,
.view-faqs {
  padding: 5% 4.5%;
}

.views-exposed-widgets {
  margin: 0;
}

.views-exposed-form .views-exposed-widget {
  float: none;
  padding: 0;
  .form-submit {
    background: url('../images/search.png') top left no-repeat;
    background-position: 5px 0;
    background-size: contain;
    border: none;
    display: block;
    height: 30px;
    margin: 0;
    text-indent: -9999px;
    width: 35px;
  }
}

.views-widget-filter-field_location_locality,
.views-widget-filter-tid {
  display: inline-block;;
  width: 49%;
  label {
    color: $nav-text;
    font-family: 'proximanova-light';
    font-size: 48px;
    font-weight: normal;
    padding: 25px 0;
    &::first-letter {
      font-family: 'ProximaNova';
      font-size: 64px;
      text-transform: uppercase;
    }
  }
  input {
    @include rounded(8px);
    border: 1px solid $input-border;
    font-size: 16px;
    margin: 4% 0;
    padding: 8px;
    width: 100%;
  }
}

.views-submit-button {
  display: inline-block;
  width: 50%;
}

.masonry-processed {
  overflow: hidden;
  margin: 25px 0;
  width: 100%;
}

.masonry-item {
  background: $masonary-block1;
  color: $location-text;
  margin: 0 30px 30px 0;
  width: 31%;
  .views-field-field-image {
    overflow: hidden;
    img {
      float: left;
      width: 100%;
    }
  }
  &:nth-of-type(2n-1) {
    background: $masonary-block2;
  }
  &:nth-of-type(3n-1) {
    background: $masonary-block3;
  }
  .views-field-title {
    font-family: 'proximanova-light';
    font-size: 24px;
    font-weight: normal;
    padding: 20px 18px;
    text-transform: capitalize;
    &::first-letter {
      font-family: 'ProximaNova';
      font-size: 32px;
      text-transform: uppercase;
    }
    a {
      color: $masonary-heading;
    }
  }
  .views-field-nothing {
    padding: 0 18px;
    .address {
      background: url('../images/location.png') top left no-repeat;
      background-size: 12px;
      font-family: 'proximanova-bold';
      font-size: 14px;
      line-height: 24px;
      padding: 0 0 0 18px;
    }
  }
  .views-field-body {
    font-size: 14px;
    padding: 5px 18px 18px;
  }
}
