/****** College Listing Page Style Starts ******/
.page-colleges,
.page-faqs {
  width: 100%;
  .pane-college-page,
  .pane-faqs {
    overflow: hidden;
  }
  .view-college-page,
  .view-faqs {
    padding: 5% 4.5%;
  }
}

.views-exposed-widgets {
  margin: 0;
}

.views-exposed-form .views-exposed-widget {
  float: none;
  padding: 0;
  .form-submit {
    background: url('../images/search.png') top left no-repeat;
    background-position: 5px 0;
    background-size: contain;
    border: none;
    display: inline-block;
    height: 30px;
    margin: 0;
    text-indent: -9999px;
    width: 35px;
  }
}

.views-widget-filter-field_location_locality,
.views-widget-filter-tid {
  display: inline-block;;
  width: 49%;
  label {
    color: $nav-text;
    font-family: 'proximanova-light';
    font-size: 48px;
    font-weight: normal;
    padding: 25px 0;
    &::first-letter {
      font-family: 'ProximaNova';
      font-size: 64px;
      text-transform: uppercase;
    }
  }
  input {
    @include rounded(8px);
    border: 1px solid $input-border;
    font-size: 16px;
    margin: 4% 0;
    padding: 8px;
    width: 100%;
  }
}

.views-submit-button {
  display: inline-block;
  width: 50%;
}

.masonry-processed {
  overflow: hidden;
  margin: 25px 0;
  width: 100%;
}

.masonry-item {
  background: $masonary-block1;
  color: $location-text;
  margin: 0 30px 30px 0;
  width: 31%;
  .views-field-field-image {
    overflow: hidden;
    img {
      float: left;
      width: 100%;
    }
  }
  &:nth-of-type(2n-1) {
    background: $masonary-block2;
  }
  &:nth-of-type(3n-1) {
    background: $masonary-block3;
  }
  .views-field-title {
    font-family: 'proximanova-light';
    font-size: 24px;
    font-weight: normal;
    padding: 20px 18px;
    text-transform: capitalize;
    &::first-letter {
      font-family: 'ProximaNova';
      font-size: 32px;
      text-transform: uppercase;
    }
    a {
      color: $masonary-heading;
    }
  }
  .college_location {
    padding: 3px 18px;
    .address {
      background: url('../images/location.png') 3px 0 no-repeat;
      background-size: 12px;
      font-family: 'proximanova-bold';
      font-size: 14px;
      line-height: 24px;
      padding: 0 0 0 22px;
    }
  }
  .faculty_ambassador {
    padding: 0 18px;
    .field-content {
      background: url('../images/faculty-icon.png') 0 3px no-repeat;
      background-size: 15px;
      font-family: 'proximanova-bold';
      font-size: 14px;
      line-height: 24px;
      padding: 0 0 0 22px;
      a {
        color: $location-text;
        display: block;
        padding: 3px 0;
      }
    }
  }
  .student_ambassador {
    padding: 0 18px;
    .field-content {
      background: url('../images/student-icon.png') 0 4px no-repeat;
      background-size: 17px;
      font-family: 'proximanova-bold';
      font-size: 14px;
      line-height: 24px;
      padding: 0 0 0 22px;
      a {
        color: $location-text;
        display: block;
        padding: 3px 0;
      }
    }
  }
  .views-field-body {
    font-size: 14px;
    padding: 5px 18px 18px;
  }
  &.views-row-first {
    background: $masonary-block1;
  }
}
/****** College Listing Page Style Ends ******/


/****** College Detail Page Style Starts ******/
.node-type-college {
  .view-college-page {
    overflow: hidden;
    position: relative;
    width: 100%;
    .views-field-field-image {
      overflow: hidden;
      width: 100%;
      img {
        float: left;
        max-height: 480px;
        width: 100%;
        @media #{$tab} {
          height: 480px;
        }
        @media #{$xxlarge-up} {
          height: auto;
        }
      }
    }
    .views-field-field-logo {
      border: 4px solid $logo-border;
      bottom: 54px;
      height: 165px;
      left: 80px;
      position: absolute;
      overflow: hidden;
      width: 180px;
      .field-content {
        height: 100%;
        overflow: hidden;
        width: 100%;
      }
      img {
        float: left;
        height: 100%;
        width: 100%;
      }
    }
    .views-field-title {
      background: $greyish-white;
      margin: 25px auto;
      overflow: hidden;
      padding: 0 0 0 200px;
      width: 88%;
      span {
        color: $nav-text;
        display: block;
        font-family: 'proximanova-light';
        font-size: 40px;
        font-weight: normal;
        padding: 55px 0 30px;
        &::first-letter {
          font-family: 'ProximaNova';
          font-size: 48px;
          text-transform: uppercase;
        }
      }
    }
  }
  .center-wrapper {
    width: 88%;
    margin: 25px auto;
    .panel-col-first {
      width: 75%;
    }
    .panel-col-last {
      width: 24.9%;
    }
  }
}
/****** College Detail Page Style Ends ******/
