.pane-faqs {
  .view-content {
    .views-row {
      background: $greyish-white;
      margin: 30px 0;
      padding: 20px;
    }
    .views-field-title {
      padding: 0 4px;
      font-size: 20px;
      a {
        color: $dark-grey;
        display: inline-block;
        &.active {
          color: $dark-red;
        }
      }
    }
    .views-field-body {
      font-size: 18px;
      padding: 30px 0 0;
      p {
        @include rounded(5px);
        background: $white;
        color: $dark-grey;
        line-height: 28px;
        padding: 25px;
      }
    }
  }
}
