.panel-2col-stacked .panel-col-top .inside,
.panel-2col-stacked .panel-col-first .inside,
.panel-2col-stacked .panel-col-last .inside {
  margin: 0;
}

.guides-block {
  overflow: hidden;
  width: 100%;
  div {
    float: left;
    font-family: 'proximanova-light';
    position: relative;
    width: 33.33%;
    a {
      display: block;
      height: 275px;
      overflow: hidden;
      img {
        float: left;
        width: 100%;
      }
    }
    span {
      bottom: 0;
      display: block;
      font-size: 34px;
      left: 0;
      padding: 15px 0;
      position: absolute;
      text-align: center;
      width: 100%;
    }
  }
}

#student {
  a {
    border: 18px solid $student-div;
    border-bottom: none;
  }
  span {
    background: url('../images/yellow-back.png') top left repeat-x;
    color: $light-orange;
  }
}
#faculties {
  a {
    border: 18px solid $faculty-div;
    border-bottom: none;
  }
  span {
    background: url('../images/green-back.png') top left repeat-x;
    color: $faculty-text;
  }
}
#mentors {
  a {
    border: 18px solid $mentor-div;
    border-bottom: none;
  }
  span {
    background: url('../images/blue-back.png') top left repeat-x;
    color: $mentor-text;
  }
}

.panel-2col-stacked {
  .preface-wrapper {
    .panel-col-first {
      background: $purple;
      float: left;
      width: 62%;
    }
    .panel-col-last {
      background: $light-white;
      float: right;
      width: 38%;
    }
  }
}

.preface-wrapper {
  width: 100%;
  overflow: hidden;
  .panel-panel {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }
}

.join-the-revolution {
  color: $grey;
  font-family: 'proximanova-light';
  padding: 25px 0;
  text-align: center;
  h2 {
    font-size: 48px;
    font-weight: normal;
    padding: 25px;
    &::first-letter {
      font-family: 'ProximaNova';
      font-size: 64px;
      text-transform: uppercase;
    }
  }
  span {
    display: block;
    font-size: 28px;
    margin: 15px 0;
    &.resolution-second {
      display: inline;
      margin: 0 0 0 20px;
    }
  }
  img {
    width: 20%;
  }
}

.webform-client-form-131 {
  color: $grey;
  font-family: 'proximanova-light';
  overflow: hidden;
  padding: 15% 6% 0;
  .form-item {
    margin: 20px 0;
    label,
    input {
      display: inline-block;
      vertical-align: top;
    }
    label {
      font-size: 28px;
      padding: 8px;
      width: 135px;
      .form-required {
        display: none;
      }
    }
    input {
      @include rounded(8px);
      border: 1px solid $input-border;
      font-size: 20px;
      padding: 8px;
      width: 60%;
    }
  }
  .form-actions {
    margin: 55px 0 0;
    text-align: center;
    input {
      @include rounded(28px);
      background: $green;
      border: none;
      color: $white;
      font-family: 'proximanova-light';
      font-size: 24px;
      padding: 12px 46px;
    }
  }
}
